

#bg-video {
    position: fixed;       /* siempre detrás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.encabezado {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.logoImage {
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 15px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    line-height: 1.2;
}

.logoImage img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.logoImage img:hover {
    transform: scale(1.1);
}


.contenido-general {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;
    box-sizing: border-box;
    border: 6px ridge #757575;
    background: linear-gradient(#247D41, #247D41, #247D6E);
    border-radius: 10px;
    color: white;
}

/* derecha */
.contenido-ahorcado {
    flex: 0 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contenido-ahorcado img {
    max-width: 55%;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* izquierda */
.contenido-informacion {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    box-sizing: border-box;
}

/* contenido pistas */
.contenido-pistas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border: 6px ridge #757575;
    background: linear-gradient(#073170, #076570, #110770);
    border-radius: 10px;
    color: white;
}

.contenido-pistas-left,
.contenido-pistas-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;            /* separación entre elementos internos */
}

.contenido-pistas-right img {
    max-width: 100%;
    height: auto;
}

.tiempo {
    margin-top: 10px;
    padding: 1px 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: white;
    text-align: center;
}

.time {
    font-size: 1.2rem;
}

.contenido-interacciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-top: 20px;
    gap: 15px;
}

/* palabra */
.contenido-palabra {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;
    color: white;
    text-align: center;
}

/* botones */
.seccionBTN {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: ridge #757575;
    border-radius: 35px;
    background: linear-gradient(#660000, #700707, #3D0202);
    max-width: 60%;
}

.seccionBTN img {
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    height: auto;

}

.seccionBTN button:hover {
    background-color: rgba(0,0,0,0.1);
}
.contenido-teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 0 auto;
    max-width: 800px;
    gap: 8px;
}

.teclado-rojo{
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-color: #453B09;
    background: red;
    color: white;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    touch-action: manipulation;
}
.teclado-negro{
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-color: #453B09;
    background: black;
    color: white;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    touch-action: manipulation;
}

.contenido-teclado button:hover:not(:disabled) {
    transform: translateY(-2px);
    background-color: var(--button-hover);
}
.contenido-teclado button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
    color: #757575;
    box-shadow: none;
    border: none;
    transform: scale(0.9);
}

.estadoGame{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}
.seccionPausa{
    background: #81AADA;
    padding: 20px;
    border-radius: 6px;
    width: 350px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
    border-radius: 15px;
    border: 6px ridge #757575;
}
.salir{
    width: 30px;
    height: 15px;
    font-size: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-color: #453B09;
    background: black;
    color: white;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    touch-action: manipulation;
}
.salir:hover{
    background: red;
}
.container-InisioSesion {
    width: 100%;
    max-width: 500px; /* Limitar el ancho máximo */
    height: 100%;
    max-height: 500px; /* Ajusta la altura máxima si es necesario */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenedor en el centro de la página */
    overflow: hidden;
    padding: 1px 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: white;
    text-align: center;
}

.opciones {
    display: flex;
    justify-content: center;  /* Centra el formulario horizontalmente */
    align-items: center;      /* Centra el formulario verticalmente */
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.formulario {
    width: 100%;
    max-width: 500px;  /* Limitar el ancho máximo del formulario */
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}

.formulario label {
    margin-bottom: 10px;
    color: white;
    display: block;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    gap: 20px;
    box-sizing: border-box;
    border: 6px ridge #757575;
    background: linear-gradient(#247D41, #247D41, #247D6E);
    border-radius: 10px;
    color: white;
}

.formulario button {
    margin-top: 50px;
    width: 120px;
    height: 50px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-color: #453B09;
    background: red;
    color: white;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    touch-action: manipulation;
}

.formulario button:hover {
    background-color: black;
    transition: 0.3s;
}

.error-msg {
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

